body {
    background-color: #383838;
}

img {
    width: 100%;
    margin: 1,5%;
}

h1, h2 {

    color: #C9A04B;
    text-align: center;
}

h1 {
    font-size: 4.2em;
}

.principal {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.col1, .col2, .col3, .col4, .col5 {
    align-items: center;
    margin: 1%;
}
    
.col1, .col2, .col3, .col4, .col5 {
    flex-grow: 1;
}

